@model MC_Products.Models.User
@{
    ViewBag.Title = "EditUser";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <br>
        <br>
        <h1>
            Add New User
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Dashboard</li>
            <li>Manage Users</li>
            <li class="active">Add User</li>
        </ol>
    </section>

    <section class="content">

        <form method="post" action="~/Home/UpdateUser">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Name</label>
                    <div class="col-md-9">
                        <input type="text" path="dob" id="Name" name="Name" value="@Model.Name" class="form-control input-sm" />
                        <input type="hidden" path="dob" id="Id" name="Id" value="@Model.Id" class="form-control input-sm" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Contact</label>
                    <div class="col-md-9">
                        <input type="text" path="dob" id="Contact" value="@Model.Contact" name="Contact" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">email</label>
                    <div class="col-md-9">
                        <input type="text" path="dob" id="email" name="email" class="form-control input-sm" value="@Model.email" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Password</label>
                    <div class="col-md-9">
                        <input type="text" path="dob" id="Password" name="Password" class="form-control input-sm" value="@Model.Password" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Retype Password</label>
                    <div class="col-md-9">
                        <input type="text" path="dob" id="dob" class="form-control input-sm" />
                    </div>
                </div>
            </div>

            <div align="center" class="row">
                <div class="form-actions floatRight col-md-8">
                    <input type="reset" value="Reset" class="btn btn-primary btn-sm">
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
                </div>
            </div>
        </form>
    </section>
</div>



      </aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
    </div>



